* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #111;
}

header {
    background: #red;
    color: white;
    text-align: center;
    padding: 35px 15px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    letter-spacing: 3px;
}

header p {
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: 12px;
}

.produtos {
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.produto {
    background: white;
    width: 100%;
    max-width: 320px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.produto h2 {
    font-size: 19px;
    margin: 18px 0 8px;
}

.produto p {
    color: #555;
    font-size: 14px;
}

.produto .preco {
    color: #111;
    font-size: 22px;
    font-weight: bold;
    margin: 18px 0 10px;
}

button {
    background: #111;
    color: white;
    border: none;
    width: 100%;
    padding: 14px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

footer {
    text-align: center;
    padding: 25px 15px;
    color: #777;
    font-size: 
   .apresentacao {
    text-align: center;
    padding: 35px 20px 10px;
}

.apresentacao > p {
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
}

.apresentacao h2 {
    font-size: 25px;
    max-width: 450px;
    margin: 15px auto;
}

.fotografias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fotografias img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.fotografias p {
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
}

.produto label {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
}

.produto input,
.produto select {
    width: 100%;
    padding: 12px;
    margin-top: 7px;
    border: 1px solid #ddd;
    border-radius: 7px;
    background: white;
    font-size: 16px;
}

.produto button {
    letter-spacing: 1px;
    margin-top: 22px;
    padding: 15px;
}
